*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------                -----FIXED SECTION */

.top-section {
    height:calc( 100vh - 100px );
    background-color: red;
    display: flex;
}
.bottom-section {
    height: 100px;
    background-color: yellow;
}
.sidebar {
    width: 75px;
    background-color: rgb(4, 4, 4);
}
.main-content {
    width: calc( 100vw - 75px );
    height: calc(100vh - 75px);
    background-color: rgb(29, 228, 29);
    
    
}
/* ----------------                  ---- LAYOUT  */

header {
    position: fixed;
    height: 75px;
    top: 0;
     
    background-color: blueviolet;
    width:calc( 100vw - 75px );
    text-align: center;
    z-index: 1;
}
.main-content {
    width: calc(100vw - 75px);
    
    overflow: scroll;
    background-color: rgb(29, 228, 29);
}
.container{
    width: 100%;
    margin: 0 auto;


}
/* ----------------                  ---- SPACES  */

.m-top {
    margin-top: 90px;
}

.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}

/* ----------------                  ---- COLONNE  */
.row {
    display: flex;
    flex-wrap: wrap;
     
}
.col-100 {

    width: 100%;

    height: 50px;
    background-color: rgb(156, 69, 69);
    padding: 0 10px;
}
.col-16 {

    width: 100%;   
    height: 50px;
    background-color: red;
}


.categorie-list {
    display: flex;
   
    flex-wrap: wrap;
 justify-content: center;
    
}
.categorie-list li {
    padding:5px 12px;
    list-style-type: none;
    text-align: center
   
}
/* -------------------                 -P R O V E ----------------    */
.logo {
    position:  ;
    margin: 15px ;
 }

.logo img {
  
}
 


/* -------------                   ------- UTIELITIES   */


/* -------------                   ------- COLORS   */

.text-white{
    color: white;
}
/* --------------                     ------ SPACE   */

/* --------------------  ----------------------------  PLAYBAR  */
.bottom-section{
    display: flex;
}

.left-col,
.right-col {
    width: 200px;
    height: 100%;
    background-color: orangered;
    border: 1px solid black;
}

.center-col {
    width:calc( 100% - 400px);
    height: 100%;
    background-color: salmon;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playbar-controls {
    display: flex;
    width: 100%;
}
.playbar-controls .current,
.playbar-controls .end  {
    width: 10%;
    background-color: white;
    border: 1px solid black;
}

.playbar-controls .playbar {
    width: 80% ;
    background-color: aqua;
    border: 1px solid black;
}

.buttons-list {
    list-style-type : none ;
    display: flex;
    justify-content: center;
}

.buttons-list li {
    margin: 10px;}



/* --------------   DA 0 a 425 A             ------ MEDIA SCREEN   */

 @media (min-width: 0px) and (max-width: 425px){
    .sidebar {
        width: 75px;
        background-color: rgb(248, 216, 8);
    }

    .col-16{width: 37%;}

    .main-content {
    width: calc(100vw - 75px );
    }

 
    .left-col, .right-col {
        width: 15%;
    }
        .center-col {
            width: 70%;
    }
 
}

/* --------------   DA 600  A 1200          ------ MEDIA SCREEN   */

 
 @media (min-width: 426px) and (max-width: 600px) {
    .sidebar {
        width: 150px;
        background-color: rgb(13, 193, 238);
    }
           
    
        
        .main-content {
            min-width: calc(100vw - 150px);
        }

}

/* --------------   DA 600 A 1200            ------ MEDIA SCREEN   */


 @media (min-width: 600px) and (max-width: 1700px) {
     .sidebar {
         width: 200px;
         background-color: rgb(93, 61, 209);
     }

            
            }


 
 